{% extends 'base.html' %}

{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <small> By: {{ post.author }} {{ post.created_at }}</small> <br />
    <hr>
    <br />

    {{ post.body | safe }}

    {% if user.is_authenticated %}
        <small>
            <a href="{% url 'edit_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a> <br />
        </small>
    {% endif %}

    <br /><br />
    <hr>
    <h2>Comments</h2>
    <br/>

    {% if not post.comments.all %}
        No comments... <a href="#">Add One</a>
    {% else %}
        {% for comment in post.comments.all %}
            <strong>
                {{ comment.name }} -
                {{ comment.created_at }}
            </strong><br />
            {{ comment.body }}
            <br/><br/>
           
        {% endfor %}
    {% endif %}
    <hr>

    <a href="{% url 'home' %}" class="waves-effect waves-light btn #0097a7 cyan darken-2">Back</a>
{% endblock %}
