{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>

{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}</p>
  <a href="{% url 'logout' %}">Log Out</a>

<h1>Posts</h1>

<ul>

    {% for post in object_list %}
    <br/>
    
   <li>
    <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
    
        - {{ post.author }}  {{post.created_at }} <br/>
       
        {{ post.body |slice:":200" }} - {% if user.is_authenticated %} <small>

          
          <a href="{% url 'edit_post' post.pk %}">Edit</a> 

          <a href="{% url 'delete_post' post.pk %}">Delete</a> <br/>

        </small> 
        {% endif %}
   </li> 
    
    {% endfor %}

</ul>
{% else %}
  <a href="{% url 'login' %}">Log In</a>
{% endif %}





{% endblock %}

